@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    width: 400px;
    height: 250px;
    background-color: #516BEB;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    margin: 10px;

}



.card:hover .img-box {
    clip-path: inset(0 0 0 100%);
}




/* Back Info on left */


.card .left-info {
    width: 100%;
    height: 100%;
    float: left;
    display: flex;
}


.user-avatar {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    border-right: 1px solid rgba(255, 255, 255, .2);
    background: linear-gradient(360deg, rgba(81,107,235,1) 0%, rgba(10,38,152,1) 100%);

}



.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    animation: border-animation 2s linear infinite;
    margin-bottom: 10px;
}

@keyframes border-animation {
    from {
        outline: 0px solid rgba(255, 255, 255, .5);
    }

    to {
        outline: 15px solid rgba(255, 255, 255, 0);

    }
}



.avatar:hover img {
    transform: scale(1.1);
}

/* Image Avatar */
.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.age {
    background-color: rgba(255, 255, 255, .2);
    padding: 3px 10px;
    border-radius: 30px;
    font-size: 12px;
    color: white;
    margin: 3px;
    z-index: 1;
}

.location {
    background-color: rgba(255, 255, 255, .2);
    padding: 3px 10px;
    border-radius: 30px;
    font-size: 12px;
    color: white;
    z-index: 1;
    min-width: 80px;
    text-align: center;
}

.card .user-info,
.card .right-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
}

/* Name Of Profile */

.name {
    padding-top: 20px;
    font-size: 29px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    position: relative;
}

.name:before {

    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 1px;
    background-color: #fff;
}

/* Paragraph of profile */
.short-p {
    text-align: center;
    color: #F7D59C;
    line-height: 1.4;
    color: white;
}


.socials {
    list-style: none;
    display: flex;
}

.socials li {
    color: #516BEB;
    font-size: 25px;
    cursor: pointer;
    background-color: #fff;
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;

}

.socials li:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    transform: rotate(1turn);
}


/* IMG Box Will Hide on Hover */

.card .img-box {
    width: 70%;
    height: 100%;
    background-color: #343434;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    transition: all .3s ease-in-out;
    clip-path: inset(0 0 0 0);

}


.img-box > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




